O SkyBox Sky Sphere SkyBox.fx SkyBox CubeMap.dds
O Default Player Sphere ToonShader.fx Default 
O + setCollider SphereCollider
O + setPosition 0 0.1 0
O Textured LookArrow Plane Textured.fx Default Arrow.dds
O Default Floor Cube Default.fx Default
O + setPosition 0 -1.5 0
O + setScale 25 0.5 5
O + setCollider BoxCollider
O Textured Ob1 Cube Textured.fx Default brick_colour.dds
O + setPosition 10 0 0
O + setScale 5 1 1
O + setCollider BoxCollider
O Default Ob2 Cube Default.fx Default
O + setPosition 2.5 4.5 0
O + setScale 5 0.5 1
O + setCollider BoxCollider
O Default Anim1 Cube Default.fx Default
O + setPosition -12.5 4.5 0
O + setScale 5 0.5 1
O + setCollider BoxCollider
O + setAnimation Translation 0.5 5 0 0
O Default PerVertexObj Cube PerVertex.fx Default
O + setPosition -14.5 0 0
O + setCollider BoxCollider
O Default Ob3 Cube Default.fx Default
O + setPosition -30 6 0
O + setScale 5 0.5 1
O + setCollider BoxCollider
O Default Buger hambuger Default.fx Default
O + setPosition 10 -0.5 -2
O + setAnimation Rotation 1 0 1 0
O Default hydrant Hydrant ToonShader.fx Default
O + setPosition -10 0.75 2

P 1 2

L Directional 1 1 1  -1 -1 0.7
L Spot 1 0.8 0.6 0 0 0